@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #e5e5e5;
}

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  padding-left: 1.1em;
  padding-right: 1.1em;
  background-color: #fff;
}

.logo {
  background-image: url(../images/my_logo2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 40px;
}

.main-container {
  display: grid;
  grid-template-columns: auto;
  gap: 3em;
}

.home-page {
  position: relative;
  top: 10vh;
  display: flex;
  flex-flow: column wrap;
  height: 90vh;
  width: 100%;
  background-color: #fff;
  background-image: url(../images/header_shapes_mobile.svg);
  background-size: cover;
  overflow: hidden;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border: thin solid #dfe1e6;
  -webkit-border-bottom-left-radius: 100px;
  -moz-border-radius-bottomleft: 100px;
  border-bottom-left-radius: 100px;
}

.introduction {
  margin-top: 15vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.intro-heading {
  font-size: 2.5em;
  line-height: 1.2em;
  width: 70%;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: #344563;
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.media {
  margin-top: 0.88rem;
  display: flex;
  list-style-type: none;
  gap: 1.1em;
}

.intro-p {
  padding-top: 2vh;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: #344563;
  padding-right: 50px;
  text-align: justify;
  animation-duration: 5s;
  animation-name: slidein1;
}

@keyframes slidein1 {
  from {
    margin-top: 100%;
  }

  to {
    margin-bottom: 0%;
  }
}

.intro-h2 {
  padding-top: 1.2em;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.fab-intro {
  color: #505f79;
  font-size: 1.65em;
}

.card-pages {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  width: 92%;
  height: 80vh;
  top: 10vh;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-top: 1.1em;
  border: thin solid #dfe1e6;
  border-radius: 15px;
}

.snapshot {
  width: 100%;
  height: 39.8%;
  margin-right: auto;
  margin-left: auto;
}

.responsive-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 1.1em;
  padding: 0;
}

.card-ul1 {
  display: flex;
  gap: 0.3em;
  margin-top: 1.1em;
  list-style-type: none;
}

.canopy {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 16px;
  font-size: 13px;
  color: #344563;
}

.canopy-detail {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.canopy-detail i {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.breadcrumb {
  font-size: 8px;
  color: #7a869a;
}

.card-p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card-ul2 {
  display: flex;
  height: max-content;
  margin-top: 1em;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.card-ul2 .card-li {
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.myButton {
  background-color: #fff;
  border: 2px solid #396df2;
  border-radius: 8px;
  cursor: pointer;
  color: #396df2;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  padding: 0.9em 1.4em;
  text-decoration: none;
  width: max-content;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.myButton:hover {
  background: #6070ff;
  color: #fff;
  font-size: 20px;
}

.myButton:active {
  background: #2230d2;
  border-radius: 8px;
}

.about-page {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 92%;
  top: 10vh;
  margin-bottom: 5em;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-top: 1.1em;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 100px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 100px;
}

.capabilities {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2em;
  height: max-content;
  gap: 0.83em;
  background-color: #fff;
}

.capabilities-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.capabilities-list-1 {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.4em;
}

.capabilities-border {
  border-bottom: thin solid #dfe1e6;
}

.capabilities-anchor-1 {
  display: flex;
  justify-content: space-between;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
}

.capabilities-icon {
  color: #acb7c3;
  font-size: 15px;
}

.capabilities-anchor-2 {
  background: #f7f7f9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.capabilities-border-radius {
  border-radius: 10px;
}

.form-page {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  gap: 2em;
  flex-wrap: wrap;
  background-color: #6070ff;
  background-image: url(../images/contact_form_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: max-content;
  top: 10vh;
  margin-bottom: 5em;
  border: thin solid #dfe1e6;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-top: 1.1em;
  -webkit-border-top-left-radius: 100px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 100px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 100px;
  border-top-right-radius: 10px;
}

.form-page-heading {
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  padding-top: 1em;
}

.form-page-section {
  position: relative;
  display: grid;
  grid-template-columns: auto;
}

.form-page-p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  color: #ebebff;
  margin: 0;
  padding: 0;
}

.form-element {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.15em;
}

.input-field {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0.5em 1.2em;
  margin-bottom: 0.83em;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

textarea {
  height: 10em;
}

.form-page-button:hover {
  background: #2a3ce2;
  box-shadow:
    0px 8px 16px,
    rgba(64, 83, 252, 0.24);
  color: #fff;
}

@media screen and (max-width: 991px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }

  header {
    padding-left: 12%;
    padding-right: 12%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style-type: none;
  }

  .menu-link {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 20px;
    color: #344563;
  }

  .home-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 18%;
    padding-right: 18%;
    align-items: center;
    background-image: url(../images/Home_desktop_background.svg);
    height: 90vh;
  }

  .home-case-a {
    grid-area: box-a;
  }

  .home-case-b {
    grid-area: box-b;
  }

  .home-case-c {
    grid-area: box-c;
  }

  .home-case-d {
    grid-area: box-d;
  }

  .home-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 0.07fr 0.93fr;
    grid-template-columns: auto;
    grid-template-areas:
      "box-a"
      "box-b" "box-c";
    gap: 0.2em;
  }

  .intro-h3 {
    text-align: left;
  }

  .about-page {
    width: 100%;
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(../images/contact_desktop_background.svg);
  }

  .introduction {
    margin-top: initial;
  }

  .intro-heading {
    font-family: Poppins, sans-serif;
    font-style: normal;
    width: 35%;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .intro-p {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .item-a {
    grid-area: position-a;
  }

  .item-b {
    grid-area: position-b;
  }

  .grid-pages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "position-a position-b";
  }

  .card-details {
    padding-left: 2.2em;
    padding-right: 2.2em;
  }

  .capabilities-list-1 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 0.4em;
  }

  .capabilities-languages {
    display: grid;
    grid-template-columns: auto;
  }

  .form-page {
    padding-left: 30%;
    padding-right: 30%;
  }

  .form-page-heading {
    color: white;
    width: 100%;
    text-align: center;
  }

  .form-page-p {
    color: white;
    text-align: center;
  }

  .form-element {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .form-page-button {
    margin-left: auto;
    margin-right: auto;
  }

  .grid-pages:hover .myButton {
    background: #6070ff;
    color: #fff;
  }
}
