@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #e5e5e5;
}

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 1.1em;
  padding-right: 1.1em;
  background-color: #fff;
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2em;
}

.home_page {
  position: relative;
  background-color: #fff;
  background-image: url(../images/header_shapes_mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  top: 10vh;
  margin-bottom: 100px;
  border: thin solid #dfe1e6;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-left-radius: 50px;
}

#home_background {
  background-color: #fff;
}

h1 {
  padding-top: 15vh;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #344563;
  width: 70%;
}

p {
  padding-top: 2vh;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-right: 50px;
  text-align: justify;
}

h3 {
  padding-top: 1.2em;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

i {
  color: #505f79;
  font-size: 1.75em;
  margin-right: 0.5em;
}

ul {
  display: flex;
  list-style-type: none;
}

section {
  padding-left: 1.1em;
}

#logo {
  background-image: url(../images/my_logo2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 40px;
}

#media {
  margin-top: 0.88rem;
  display: flex;
}

#burger {
  color: #6070ff;
}

.card_pages {
  display: flex;
  flex-direction: column;
  grid-template-columns: auto;
  width: 92%;
  height: 85vh;
  top: 10vh;
  margin-bottom: 5em;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-top: 1.1em;
  border: thin solid #dfe1e6;
  border-radius: 15px;
}

.snapshoot {
  width: 100%;
  height: 39.8%;
  margin-right: auto;
  margin-left: auto;
}

.responsive_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card_h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 1.1em;
  padding: 0;
}

.card_ul1 {
  display: flex;
  gap: 0.3em;
  margin-top: 1.1em;
}

.canopy {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 16px;
  font-size: 13px;
  color: #344563;
}

.canopy_detail {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.canopy_detail i {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.breadcrumb {
  font-size: 8px;
  color: #7a869a;
}

.card_p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card_ul2 {
  display: flex;
  height: max-content;
  margin-top: 1em;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.card_ul2 .card_li {
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.myButton {
  background-color: #fff;
  border: 2px solid #396df2;
  border-radius: 8px;
  cursor: pointer;
  color: #396df2;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  padding: 15px 25px;
  text-decoration: none;
  width: max-content;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.myButton:hover {
  background: #6070ff;
  color: #fff;
}

.myButton:active {
  background: #2230d2;
  border-radius: 8px;
}

.about_page {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 92%;
  top: 10vh;
  margin-bottom: 5em;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-top: 1.1em;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 50px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 50px;
}

#capabilities {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2em;
  height: max-content;
  gap: 0.83em;
  background-color: #fff;
}

#capabilities ul {
  display: flex;
  flex-direction: column;
}

#capabilities ul li a {
  display: flex;
  justify-content: space-between;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
}

#capabilities ul li a i {
  color: #acb7c3;
  font-size: 15px;
}

#capabilities ul ul li a {
  background: #f7f7f9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

#form_page {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  gap: 2em;
  flex-wrap: wrap;
  background-color: #6070ff;
  background-image: url(../images/contact_form_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: max-content;
  top: 10vh;
  margin-bottom: 5em;
  border: thin solid #dfe1e6;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-top: 1.1em;
  -webkit-border-top-left-radius: 60px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 60px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 60px;
  border-top-right-radius: 10px;
}

#form_page h1 {
  position: relative;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}

#form_page section {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  padding: 0;
}

#form_page p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 0;
  padding: 0;
}

#form_element {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.15em;
}

.input_field {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0.5em 1.2em;
  margin-bottom: 0.83em;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

textarea {
  height: 10em;
}
